node_modules
.nuxt
.output
output
dist
.env
.env.*
!.env.example
.git
.gitignore
.dockerignore
README.md
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.cache
.pnpm-store
Dockerfile
docker-compose.yaml
